# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Character.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Hadi\Github_Desktop\RotAndRuin\Assets\Scripts\Character\.idea\.idea.Character.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
